extends layout

block content
  h1= title
  p List of available peers
  ul#peers
  nav.tools
    div
      a#ice_init(href='#ice_init') ice_init
    div
      a#ice_negociate(href='#ice_negociate') ice_nego
    div
      a#ice_send(href='#ice_send') ice_send
    div
      a#transport(href='#transport') transport
    div
      a#gum(href='#gum') gum
    div
      a#stream(href='#stream') stream
  div.gui
    div.local
      video(id='local', autoplay, muted)
    div.remote
      video(id='remote', autoplay)

  div#log
    div loaded
