doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/log.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/webrtc-adapter/adapter.js')
    script(src='/javascripts/socket.js')
  body
    block content
